body {
    background-color: rgb(21, 17, 56);
}
h1 {color:rgb(65, 240, 118); font-size: 48px}
h2 {color:rgb(16, 179, 190); font-size: 28px}
p {color:rgb(255, 255, 255); font-size: 18px}
a {color:rgb(90, 112, 124); font-size: 18px}
li {color:rgb(255, 255, 255); font-size: 18px}
b {color: rgb(16, 179, 190); font-size: 24px}
img {
    border: 3px darkblue tomato;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(91, 40, 133);
    padding: 24px
}

.down {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 23, 102);
    padding: 24px
}